$white-light: #FFF;
$white: #E5E5E5;
$white-dark: #C7C4C1;
$white-x-dark: #B9B4AD;

$grey-blue: #303D4F;
$grey-xx-light: #535455;
$grey-x-light: #363636;
$grey-light: #232429;
$grey: #1A1B1F;
$grey-dark: #17181C;

$black: #000;

$orange: #BB5603;
$orange-light: #F5AD42;

$purple: #7D1391;

$text-col-x-light: $white-light;
$text-col-light: $white;
$text-col: $white-dark;
$text-col-dark: $white-x-dark;

$block-back-col: $grey-dark;
$block-back-col-light: $grey;
$block-back-col-x-light: $grey;
$block-back-col-blue: $grey-blue;
$block-back-col-orange: $orange;
$block-back-col-purple: $purple;

$icon-col: $white-x-dark;

$bord: 1px solid $grey-x-light;
$bord-light: 1px solid $grey-xx-light;
$bord-x-light: 1px solid $white-x-dark;

$media-mobile-narrow: '9/17';
$media-tablet: 768px;
$media-pc: 992px;

$font-fam-pt-sans: 'PT Sans', Arimo, Arial, sans-serif;
$font-fam-roboto: Roboto, Arimo, Arial, sans-serif;

$max-layout-width: 1250px;

$popup-mask-back-col: $black;

$logo-col-mobile: $orange-light;
