@function removeUnit($val) {
  @if type-of($val) == 'number' and not unitless($val) {
    @return $val / ($val * 0 + 1);
  }
  @return $val;
}

@function replaceVhUnitsWithFix($vals, $sidebarStretch) {
  @for $i from 1 through length($vals) {
    $val: nth($vals, $i);
    @if (type-of($val) == 'number') {
      @if (unit($val) == 'vh') {
        @if ($sidebarStretch != true) {
          $vals: set-nth($vals, $i, calc(var(--vh, 1vh) * #{removeUnit($val)}));
        } @else {
          $vals: set-nth($vals, $i, calc(var(--vh, 1vh) * (100 - #{removeUnit($val)})));
        }
      }
    }
  } 
  @return $vals;
}

@mixin vh(
  $vals,
  $prop: height,
  $sidebarStretch: false,
  $pc: false
) {
  @if ($pc != true) {
    #{$prop}: $vals;
    #{$prop}: replaceVhUnitsWithFix($vals, $sidebarStretch);
  } @else {
    #{$prop}: $vals;
  }
}
