.slider {
  position: relative;

  @media (min-width: $media-pc) {
    grid-area: slider;
  }
}

.slider-banners-cont {
  position: relative;
}

.slider-banner {
  display: block;

  img {
    display: block;
    width: 100%;
  }
}

%slider-btn-cont {
  position: absolute;
  top: 0;
  align-items: center;
  display: flex;
  height: 100%;
}

.slider-prev-banner-btn-cont {
  @extend %slider-btn-cont;
  left: 0;
}

.slider-next-banner-btn-cont {
  @extend %slider-btn-cont;
  right: 0;
}

%slider-btns {
  @include vhMedia(4.3vh, height, (tablet: 20%));
  @include vhMedia(3.1vh, width, (tablet: 20%));
  align-items: center;
  display: flex;
  background-color: rgba($block-back-col-x-light, 0.2);

  @media (min-width: $media-pc) {
    cursor: pointer;
  }

  > svg {
    height: 40%;
    fill: rgba($icon-col, 0.5);
  }
}

.slider-prev-banner-btn {
  @extend %slider-btns;
  @include vhMedia(4vh, border-top-right-radius, (tablet: 20%));
  @include vhMedia(4vh, border-bottom-right-radius, (tablet: 20%));
}

.slider-next-banner-btn {
  @extend %slider-btns;
  @include vhMedia(4vh, border-top-left-radius, (tablet: 20%));
  @include vhMedia(4vh, border-bottom-left-radius, (tablet: 20%));
}

.slider-dotnav {
  @include vhMedia(0.7vh, margin-bottom, (tablet: 20%));
  position: absolute;
  bottom: 0;
  justify-content: center;
  display: flex;
  width: 100%;
}

.slider-dot {
  @include vhMedia(1.1vh, height, (tablet: 20%));
  @include vhMedia(1.1vh, width, (tablet: 20%));
  @include vhMedia(1.3vh, margin-right, (tablet: 20%));
  display: block;
  background-color: $block-back-col-x-light;
  border-radius: 50%;
  opacity: 0.5;
  
  @media (min-width: $media-pc) {
    cursor: pointer;
  }

  &.selected {
    background-color: $block-back-col-x-light;
    opacity: 1;
  }
}
