@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'),
    url('~@/fonts/pt-sans.woff2') format('woff2'),
    url('~@/fonts/pt-sans.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'),
    url('~@/fonts/roboto.woff2') format('woff2'),
    url('~@/fonts/roboto.woff') format('woff');
}
