footer {
  @include vhMedia(3.4vh 2vh, padding);
  background-color: $block-back-col-blue;
  border-top: $bord;

  @media (min-width: $media-pc) {
    flex-direction: column;
    display: flex;
    padding: 22px 0;
  }
}

.projects {
  @include vhMedia(3.8vh, margin-bottom);
  @include layout-media-pc;
  flex-wrap: wrap;
  display: flex;
  width: 100%;

  @media (min-width: $media-tablet) {
    justify-content: space-around;
  }

  @media (min-width: $media-pc) {
    align-self: center;
    justify-content: space-between;
  }
}

.project-link-cont {
  flex-basis: 50%;
  justify-content: center;
  display: flex;

  @media (min-width: $media-tablet) {
    flex-basis: auto;
  }

  &:nth-child(-n+2) {
    @include vhMedia(3vh, margin-bottom);

    @media (min-width: $media-tablet) {
      margin-bottom: 0;
    }
  }
}

.project-link > svg {
  @include vhMedia(2.2vh);
  display: block;
}

.footer-inn-cont {
  @media (min-width: $media-pc) {
    justify-content: center;
    display: flex;
    padding: 25px 0 31px;
    border-top: $bord-light;
  }
}

.footer-inn {
  @include layout-media-pc;

  @media (min-width: $media-pc) {
    justify-content: space-between;
    display: flex;
    width: 100%;
  }
}

.footer-links-list {
  position: relative;

  &:nth-child(4) {
    @include vhMedia(2.7vh, margin-bottom);
  }
}

.footer-main-link-header {
  @include vhMedia(0 1.6vh, padding);
  @include vhMedia(7.4vh);
  align-items: center;
  justify-content: space-between;
  display: flex;
  border-top: $bord-light;

  @media (min-width: $media-pc) {
    height: auto;
    padding: 0;
    margin-bottom: 20px;
    border: 0;
  }

  > span {
    @include font(2.4vh);
    color: $text-col-light;

    @media (min-width: $media-pc) {
      @include font($size: 19px, $weight: 600);
      white-space: nowrap;
    }
  }

  > svg {
    @include vhMedia(1.6vh);
    @include hide-on-pc;
    fill: $text-col-light;
  }
}

.footer-links-list:nth-child(4) > .footer-main-link-header {
  @include vhMedia(3.3vh, margin-bottom);
  position: relative;
  border-bottom: $bord-light;

  @media (min-width: $media-pc) {
    border: 0;
  }
}

%footer-other-block {
  @include font(14px, $text-col-light);
  display: none;
  margin-bottom: 15px;
  white-space: nowrap;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $media-pc) {
    display: block;
  }
}

.footer-other-block {
  @extend %footer-other-block;
}

.footer-main-link-mask {
  @include hide-on-pc;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.price-list {
  align-items: flex-start;
  flex-flow: column;
  display: flex;

  @media (min-width: $media-pc) {
    margin-bottom: 15px;
  }
}

.price-list > span {
  @extend %footer-other-block;
}

.price-list-link {
  @extend %footer-other-block;
  margin-bottom: 3px;
}

.payment-methods {
  flex-wrap: wrap;
  display: flex;

  @media (min-width: $media-pc) {
    width: 160px;
  }
}

%payment-method {
  @include vhMedia(2vh, margin-right);
  @include vhMedia(4vh);
  align-items: center;
  display: flex;
}

.payment-method-visa {
  @extend %payment-method;

  > svg {
    height: 35%;
  }
}

.payment-method-qiwi {
  @extend %payment-method;

  > svg {
    height: 70%;
  }
}

.payment-method-maestro {
  @extend %payment-method;

  > svg {
    height: 60%;
  }
}

.stay-with-us {
  @include vhMedia(3.1vh, margin-bottom);

  @media (min-width: $media-pc) {
    margin: 0;
    grid-area: stay;
  }

  > h1 {
    @include font(
      $size: 3vh,
      $color: $text-col-light,
      $weight: 600
    );

    @media (min-width: $media-pc) {
      font-size: 19px;
    }
  }
}

.socials {
  @include vhMedia(3vh 0, margin);
  display: flex;

  @media (min-width: $media-pc) {
    margin: 20px 0 19px;
  }
}

%social-network-btn {
  @include vhMedia(6.5vh);
  @include vhMedia(6.5vh, width);
  @include vhMedia(1.2vh, margin-right);
  align-items: center;
  justify-content: center;
  display: flex;
  border: $bord-x-light;
  border-radius: 50%;

  &:last-child {
    margin-right: 0;
  }
}

.social-network-btn-vk {
  @extend %social-network-btn;

  > svg {
    height: 28.5%;
  }
}

.social-network-btn-twitter {
  @extend %social-network-btn;

  > svg {
    height: 35%;
  }
}

.call {
  @include vhMedia(2.2vh, margin-bottom);
  display: block;

  @media (min-width: $media-pc) {
    white-space: nowrap;
  }

  > span {
    color: $text-col-light;
  }
}

.addresses-of-shops-link {
  @include font(
    $size: 2.2vh,
    $color: $text-col-light,
    $textDecoration: underline
  );
  display: block;

  @media (min-width: $media-pc) {
    font-size: 14px;
    white-space: nowrap;
  }
}

.responsibility-text {
  @include vhMedia(2.7vh, margin-bottom);
  border: $bord-light;
  border-width: 1px 0;

  @media (min-width: $media-pc) {
    justify-content: center;
    display: flex;
    width: 100%;
  }


  > span {
    @include vhMedia(2.2vh 1vh 2.7vh 1vh, padding);
    @include font(2.3vh, $text-col-dark, 3.5vh);
    @include layout-media-pc;
    display: block;
    width: 100%;

    @media (min-width: $media-pc) {
      padding: 14.0712px 20px 15.0552px;
    }
  }

}

.copyright-text {
  @include font(2.3vh, $text-col-dark);
  @include layout-media-pc;

  @media (min-width: $media-pc) {
    align-self: center;
    display: block;
    width: 100%;
  }
}
