header {
  @include vhMedia(9.5vh);
  position: relative;
  flex-shrink: 0;

  @media (min-width: $media-pc) {
    position: static;
    height: auto;
  }
}

header.active {
  position: static;
}

.header-inn-cont {
  position: absolute;
  flex-direction: column;
  z-index: 900;
  display: flex;
  width: 100%;
  height: 100%;

  @media (min-width: $media-pc) {
    position: static;
    align-items: center;
    flex-direction: column-reverse;
    background-color: $block-back-col-orange;
  }
}

header.active > .header-inn-cont {
  position: fixed;
}

.header-inn {
  @include layout-media-pc;
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: $block-back-col;
  border-bottom: $bord;

  @media (min-width: $media-pc) {
    height: 60.762px;
    background-color: $block-back-col-orange;
    border-bottom: 0;
  }
}

header.active .header-inn {
  @include vhMedia(9.5vh);
}

.toggle-menu-btn-cont {
  @include hide-on-pc;
  flex: 1 1 0;
}

.toggle-menu-btn {
  @include vhMedia(8vh, width);
  align-items: center;
  display: flex;
  height: 100%;
  outline: none;

  > svg {
    fill: $icon-col;
  }
}

.toggle-menu-btn-menu-icon {
  height: 35%;
}

.toggle-menu-btn-cross-icon {
  height: 30%;
}

.logo-cont {
  align-items: center;
  display: flex;

  @media (min-width: $media-pc) {
    width: 221.4px;
    padding: 0 8.856px 0 2.952px;
  }

  > svg:first-child {
    fill: $logo-col-mobile;
    @include vhMedia(6.2vh);

    @media (min-width: $media-pc) {
      fill: $text-col-x-light;
    }
  }

  > span {
    @include font(
      $size: 36.408px,
      $color: $text-col-x-light,
      $weight: 100,
      $family: $font-fam-roboto
    );
    display: none;
    margin-left: 4.92px;

    @media (min-width: $media-pc) {
      display: block;
    }
  }

  > svg:last-child {
    display: none;
    height: 11.808px;
    margin-left: auto;
    opacity: 0.5;
    fill: $text-col-x-light;

    @media (min-width: $media-pc) {
      display: block;
    }
  }
}

.header-btns {
  align-items: center;
  flex: 1 1 0;
  justify-content: flex-end;
  display: flex;
}

%header-btns {
  @include vhMedia(8vh, width);
  align-items: center;
  display: flex;
  height: 100%;

  > svg {
    height: 35%;
    fill: $icon-col;
  }
}

.show-search-popup-btn {
  @extend %header-btns;
}

%other-links {
  @include vh(0 1.5vh, padding);
  display: none;
  height: 100%;

  @media (min-width: $media-pc) {
    align-items: center;
    display: flex;
  }

  > svg {
    fill: $text-col-x-light;
  }

  > span {
    @include font(14.76px, $text-col-x-light);
    margin-left: 7.872px;
  }
}

.compare-link {
  @extend %other-links;

  > svg {
    height: 11.808px;
  }
}

.favourite-link {
  @extend %other-links;

  > svg {
    height: 13.818px;
  }
}

.cart-link {
  @extend %header-btns;

  @media (min-width: $media-pc) {
    align-self: center;
    width: auto;
    height: 68%;
    padding: 0 17.712px 0 13.776px;
    margin-left: 12.792px;
    background-color: $block-back-col;
    border: $bord;
    border-radius: 4.92px;
  }

  > svg {
    margin-left: 16%;

    @media (min-width: $media-pc) {
      width: 19.68px;
      margin-bottom: 2%;
      margin-left: 0;
      fill: currentColor;
    }
  }

  > span {
    @include font(
      $size: 14.76px,
      $lineHeight: 37.392px,
      $weight: 600
    );
    align-self: flex-start;
    display: none;
    margin-left: 5.904px;

    @media (min-width: $media-pc) {
      display: block;
    }
  }
}

.search {
  @include vhMedia(8vh, width);
  position: relative;
  align-items: center;
  z-index: 1000;
  display: flex;
  height: 100%;

  @media (min-width: $media-pc) {
    flex: 1 1 0;
    margin: 0 12.792px 0 22.632px;
    background-color: $block-back-col-orange;
  }

  &.active {
    @include font(1.5vh);
    @include vhMedia(1.5vh, padding);
    position: absolute;
    width: 100%;
    background-color: $block-back-col;
  }

  > input {
    @include font(2.1vh, $text-col-dark);
    @include vhMedia(0 2vh, padding);
    @include vhMedia(0.7vh 0 0 0.7vh, border-radius);
    flex: 1 1 0;
    display: none;
    height: 100%;
    background-color: $block-back-col;
    border: $bord;
    border-right: 0;
    outline: none;

    @media (min-width: $media-pc) {
      display: block;
      height: 68%;
    }
  }

  &.active > input {
    display: block;
  }
}

.search-btn {
  @extend %header-btns;
  width: 100%;

  @media (min-width: $media-pc) {
    position: relative;
    width: 41.574px;
    height: 68%;
    background-color: $block-back-col;
    border: $bord;
    border-left: 0;
    border-radius: 0 4.3788px 4.3788px 0;
    outline: none;
    cursor: pointer;

    &::after {
      position: absolute;
      left: -1px;
      width: 1px;
      height: 55%;
      content: '';
      background-color: $grey-x-light;
    }

    > svg {
      height: 45%;
    }
  }
}

.search.active > .search-btn {
  @include vhMedia(6.5vh, width);
  @include vhMedia(0 0.7vh 0.7vh 0, border-radius);
  position: relative;
  background-color: $block-back-col;
  border: $bord;
  border-left: 0;
  outline: none;

  &::after {
    position: absolute;
    left: -1px;
    width: 1px;
    height: 55%;
    content: '';
    background-color: $grey-x-light;
  }

  > svg {
    height: 45%;
  }
}

.show-search-popup-btn-mask {
  @include hide-on-pc;
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
}

.search.active > .show-search-popup-btn-mask {
  display: none;
}

.search-popup-mask {
  position: absolute;
  z-index: 999;
  display: none;
  width: 100%;
  height: 100%;
  background-color: $popup-mask-back-col;
  opacity: 0.2;

  &.active {
    display: block;
  }
}

.sidebars-cont {
  transition: visibility 0s 0.3s;
  visibility: hidden;

  @media (min-width: $media-pc) {
    align-items: center;
    flex-direction: column;
    display: flex;
    width: 100%;
    height: 39.36px;
    background-color: $block-back-col;
    visibility: visible;
  }

  &.active {
    position: relative;
    flex: 1 1 0;
    overflow: hidden;
    transition: visibility 0s 0s;
    visibility: visible;
  }
}

.menu-cont {
  @include vhMedia($vals: 9.5vh, $sidebarStretch: true);
  @include layout-media-pc;
  position: absolute;
  left: -100%;
  width: 100%;
  overflow-y: auto;
  background-color: $block-back-col-blue;
  transition: transform 0.3s;

  @media (min-width: $media-pc) {
    position: static;
    display: flex;
    height: 100%;
    background-color: $block-back-col;
  }

  &.active {
    transform: translateX(100%);
    transition: transform 0.3s;
  }
}

.menu {
  @media (min-width: $media-pc) {
    display: grid;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: $block-back-col;
    grid: 
      'location shops to-buyers projects . call . notifications . enter registration' 39.36px
      / 244.032px auto auto auto 1fr auto 14.5px auto 15px auto auto;
  }
}

%menu-item {
  @include vhMedia(0 2.5vh, padding);
  @include vhMedia(9.5vh);
  align-items: center;
  display: flex;
  width: 100%;
  background-color: $block-back-col;
  border-bottom: $bord;

  @media (min-width: $media-pc) {
    height: auto;
    padding: 0 4.92px;
    white-space: nowrap;
    border-bottom: 0;
  }

  > svg {
    @include hide-on-pc;
  }

  > svg:first-child {
    @include vhMedia(2.5vh);

    @media (min-width: $media-pc) {
      height: 11.808px;
    }    
  }

  > svg:last-child {
    @include vhMedia(1.7vh);
    margin-left: auto;
  }
}

%menu-item-footer {
  @extend %menu-item;
  @include font(2.8vh, $text-col-light, 1.7vh);
  @include vhMedia(0 3.2vh, padding);
  background-color: $block-back-col-blue;
  border-bottom: $bord-light;

  @media (min-width: $media-pc) {
    @include font(12.792px, currentColor);
    padding: 0 4.92px;
    background-color: $block-back-col;
    border-bottom: 0;
  }

  &:last-child {
    border-bottom: 0;
  }

  > svg {
    fill: $text-col-x-light;

    @media (min-width: $media-pc) {
      fill: $text-col-light;
    }
  }
}


.menu-item-main-text {
  @include font($size: 2.8vh, $lineHeight: 1.7vh);
  @include vhMedia(1.2vh, margin-left);

  @media (min-width: $media-pc) {
    @include font($size: 12.792px, $lineHeight: 12.792px);
    margin-left: 0;
  }
}

.menu-item-time-to-call {
  @include font($size: 2vh, $lineHeight: 2.7vh);
  margin-left: auto;

  @media (min-width: $media-pc) {
    margin-left: 8.856px;
    color: $text-col-dark;
  }
}

.menu-item-location {
  @extend %menu-item;

  @media (min-width: $media-pc) {
    width: auto;
    padding-left: 4.92px;
    justify-self: start;
    grid-area: location;

    > svg:first-child {
      display: inline;
    }

    > .menu-item-main-text {
      margin-left: 4.92px;
    }
  }
}

.menu-item-call {
  @extend %menu-item;
  position: relative;

  @media (min-width: $media-pc) {
    grid-area: call;

    > svg:first-child {
      display: inline;
    }
  }

  > .menu-item-main-text {
    @include vhMedia(2.7vh, line-height);

    @media (min-width: $media-pc) {
      @include font($size: 13.776px, $lineHeight: 13.776px, $weight: 600);
      margin-left: 4.92px;
    }
  }

  > a {
    @include hide-on-pc;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.menu-item-enter {
  @extend %menu-item;

  @media (min-width: $media-pc) {
    grid-area: enter;
  }
}

.menu-item-registraiton {
  @extend %menu-item-footer;
  display: none;
  
  @media (min-width: $media-pc) {
    display: block;
    padding-right: 3.936px;
    cursor: pointer;
    grid-area: registration;
  }
}

.menu-item-show-catalog {
  @extend %menu-item;
  @include hide-on-pc;
  color: $text-col-x-light;
  background-color: $block-back-col-orange;
  outline: none;

  > svg {
    fill: $text-col-x-light;
  }
}

.menu-item-cart {
  @extend %menu-item;
  @include hide-on-pc;
}

.menu-item-compare {
  @extend %menu-item;
  @include hide-on-pc;
}

.menu-item-favourite {
  @extend %menu-item;
  @include hide-on-pc;
}

.menu-item-notifications {
  @extend %menu-item;

  @media (min-width: $media-pc) {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 25px;
    height: 25px;
    padding: 0;
    border: $bord;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    place-self: center;
    grid-area: notifications;

    > svg:first-child {
      display: block;
      width: 13.109px;
      height: 57%;
      height: 13.109px;
    }

    > .menu-item-main-text {
      display: none;
    }
  }
}

.menu-item-pc-configurator {
  @extend %menu-item;
  @include hide-on-pc;
}

.menu-item-actions {
  @extend %menu-item;
  @include hide-on-pc;
}

.menu-item-markdown {
  @extend %menu-item;
  @include hide-on-pc;
}

.menu-item-shops {
  @extend %menu-item;

  @media (min-width: $media-pc) {
    padding-left: 0.984px;
    grid-area: shops;
  }
}

.menu-item-main-page {
  @extend %menu-item;
  @include hide-on-pc;
}

.menu-item-company {
  @extend %menu-item-footer;
  @include hide-on-pc;
}

.menu-item-projects {
  @extend %menu-item-footer;

  @media (min-width: $media-pc) {
    grid-area: projects;
  }
}

.menu-item-feedback {
  @extend %menu-item-footer;
  @include hide-on-pc;
}

.menu-item-to-buyers {
  @extend %menu-item-footer;

  @media (min-width: $media-pc) {
    grid-area: to-buyers;
  }
}

.menu-item-price-list {
  @extend %menu-item-footer;
  @include hide-on-pc;
}

.catalog-cont {
  @include vhMedia($vals: 9.5vh, $sidebarStretch: true);
  @include layout-media-pc;
  position: absolute;
  left: -100%;
  width: 100%;
  overflow-y: auto;
  background-color: $block-back-col;
  transition: left 0s 0.3s, transform 0.3s;

  @media (min-width: $media-pc) {
    position: relative;
    left: 0;
    height: 0;
    overflow: visible;
  }

  &.active {
    left: 100%;
    transform: translateX(-100%);
    transition: left 0s 0s, transform 0.3s;
  }
}

.catalog {
  @media (min-width: $media-pc) {
    position: absolute;
    top: 60.762px;
    z-index: 1000;
    width: 221.4px;
    background-color: transparent;
  }
}

%catalog-item {
  @include vhMedia(9.5vh);
  @include vhMedia(0 2.5vh, padding);
  align-items: center;
  display: flex;
  width: 100%;
  border-bottom: $bord;
  outline: none;

  &:last-child {
    border-bottom: 0;

    @media (min-width: $media-pc) {
      border-bottom: $bord;
      border-radius: 0 0 5.902px 5.902px;
    }
  }

  @media (min-width: $media-pc) {
    height: 43.296px;
    background-color: $block-back-col;
    border: $bord;
    border-top: 0;
    cursor: pointer;
  }

  > svg:first-child {
    @include vhMedia(2.5vh);

    @media (min-width: $media-pc) {
      height: 15.744px;
    }
  }

  > span {
    @include font($size: 2.8vh, $lineHeight: 1.7vh);
    @include vhMedia(1.2vh, margin-left);

    @media (min-width: $media-pc) {
      font-size: 13.776px;
    }
  }

  > svg:last-child {
    @include vhMedia(1.8vh);
    margin-left: auto;

    @media (min-width: $media-pc) {
      height: 8.856px;
    }
  }
}

.catalog-item {
  @extend %catalog-item;
}

.catalog-item-close-btn {
  @extend %catalog-item;
  @include hide-on-pc;

  > svg:first-child {
    @include vhMedia(2.3vh);
  }
}
